<div>
  <div>
   <label for=""> Get datas </label> 
   
     <button (click)="getClick()">Get</button>
     <input type="number" [value]="category.entities[0].id">
     <input type="string" [value]="category.entities[0].title">
     <input type="string" [value]="category.entities[0].description">
 
     
  </div>  
  <p></p>
  <div>
   <label for="">Post datas</label> 
      <input type="text" value="{{category}}" placeholder="name">
      <input type="text" value="" placeholder="sir-name">
      <input type="text" value="" placeholder="job">
      <button (click)="postClick()">Post</button>
   </div>
 
   <div>
   <label for="">Put datas</label> 
      
      <input type="text" value="{{category}}" placeholder="name">
      <input type="text" value="" placeholder="sir-name">
      <input type="text" value="" placeholder="job">
      
      <button (click)="putClick()">Put</button>
    </div>
 
   <div>
   <label for="">Delete datas</label> 
       <button (click)="deleteClick()">Delete</button> -->
 
    </div>
</div>