import { UpdateHomeComponent } from './update/update-home/update-home.component';
<div class="container ">
  <div class="column is-offset-one-fifth" >
    <label class="label"> Get datas </label>
    <button (click)="getClick()" class="button is-success" style="height: 25px;">Get</button>

   
    <table  class="table" *ngIf ="categories.length > 0" border="1" style="background-color:rosybrown ;">
      <thead>
        <tr>
          <th><abbr title="Position">Id</abbr></th>
          <th><abbr title="Played">Title</abbr></th>
          <th><abbr title="Won">Description</abbr></th>
        </tr>
      </thead>
      <tr *ngFor="let cat of categories">
        <td>
          {{cat.id}}
        </td>
        <td>
          {{cat.title}}
        </td>
        <td>
          {{cat.description}}
        </td>
        <div *ngIf ="cat.id != null">
        <button (click)="deleteClick(cat.id)" class="button is-danger" style="height: 25px; ">Delete</button>
      </div>
      <div >
        <button  (click)="putClick()" class="button is-link" style="height: 25px;">
          PUT 
        </button>
      </div>
      </tr>
    </table>
  </div>
  <br>
  <!-- <div  *ngIf ="category != null" class="column is-offset-one-fifth">
    <input type="number"   [value]="category.id"    class="background"  />
    <input type="text"     [value]="category.title"   class="background" />
    <input type="text"     [value]="category.description"   class="background" />
   
  </div> -->

  <div class="column is-offset-one-fifth" *ngIf ="newCategory != null">
    <input type="text" placeholder="title"        [(ngModel)]="newCategory.title"   class="background" />
    <input type="text" placeholder="description"  [(ngModel)]="newCategory.description"   class="background" />
    <input type="text" placeholder="password"     [(ngModel)]="newCategory.password"    class="background" />
    <input type="text" placeholder="repassword"   [(ngModel)]="newCategory.rePassword"    class="background" />
    <button (click)="postClick()" class="button is-warning" style="height: 25px;">
      POST
    </button>
  </div>
  <br>
  <div  *ngIf ="deleteCategory != null">
  
   <!--<input type="number" class="background" [(ngModel)]="deleteCategory.id" >
   --> 
   
  </div>
</div>

<updateHome></updateHome>